.containeroption{
    min-height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.containeroption__form{
    width: 60%;

}

.Title{
    font-size: 7rem;
}