.login {
  background: linear-gradient(90deg, #16222A 0%, #3A6073 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

.login__container {
  background: linear-gradient(90deg, #536976 0%, #292E49 100%);
  box-shadow: inset 15px -10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 58px 30px;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.btnlogin{
  background: linear-gradient(90deg, #44A08D 0%, #093637 100%);
}

.login__container-img{
  width: 159px;
  height: 185px;
}

